<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <div>Hand 1</div>
          <div>Hand 2</div>
          <div>Result</div>
          <input type="submit" class="ghost-button" value="Next">
          <input type="submit" class="ghost-button" value="Shuffle">
        </form>
      </fieldset>
    </div>
  </body>
</html>
