<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.ico" type="image/ico" sizes="16x16">
  </head>
  <body>
    <h1>Poker</h1>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="option" type="hidden" value="next">
          <div>
              <ul>
                <% for(var i=0; i < supplies.length; i++) {%>
                    <li><%= supplies[i] %></li>
                <% } %>
             </ul>
          </div>
          <div>Hand 2</div>
          <div>Result</div>
          <input type="submit" class="ghost-button" value="Next">
          <input type="submit" class="ghost-button" value="Shuffle">
        </form>
        <% if(decks !== null){ %>
          <p><%= decks %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
